# Dependencies
node_modules/

# Environment variables (secrets)
.env
.env.*

# Database files
*.sqlite
*.sqlite-journal
*.db

# Logs
logs
*.log
npm-debug.log*

# OS junk
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Temporary files
*.tmp
*.cache
